
.o-mainpage {
    background-color:rgba(129,33,24,0.4);
    width: 100%;



    &-currentRover-cont  {
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;

        justify-content: center;
        &-robot  {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            width: 200px;
            color: #eeaaa1;
            border-radius: 5px;
            background-color: #451804;
            cursor: pointer;
        }
        .selected {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            width: 200px;
            color: white;
            border-radius: 5px;
            background-color: 	#e77d11;
            cursor: pointer;
        }
        &-camera {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            width: 90px;
            color: #eeaaa1;
            border-radius: 5px;
            background-color: #451804;
            cursor: pointer;
        }
        .selected-camara {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            width: 90px;
            color: white;
            border-radius: 5px;
            background-color: 	#e77d11;
            cursor: pointer;
        }
    }

    &-cont {


        &-searcher {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            color: white;
            label {
                margin-right: 20px;
            }

            &-button  {
                text-decoration: none;
                margin-left: 15px;
                background-color: wheat;
                font-weight: bold;
                width: 80px;

                &:hover {
                    background-color: #eeaaa1;
                    cursor: pointer;
                }
            }
        }

        &-title {
            color: white;
        }
        &-recommended {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &-cont {
                background-color:  #ff5435;
                border-radius: 5px;
                margin: 5px;
                width: 100px;
                color: white;
                font-size: 14px;
                &:hover {
                    background-color: #cc1e2c;
                    color: #eeaaa1;
                }
            }
        }

     


        &-buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            &-text {
                background-color: #451804;
                margin: 10px;
                color: white;
                width: 100px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }


}